section.wrapper{
    text-align: center;
    float: left;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 60vw;
    background-image: url("../img/BG2.jpg");
    background-position: 5%;
   
}
table{

    width: 30vw;
    float: left;
}

.button {
background-color: #9e8585;
border: none;
box-shadow: 0 9px#505050;
padding: 30px;
text-align: center;
font-size: 28px;
}

.button:hover {
background-color: #3F3F3F;
}

.button:active {
box-shadow: 0 5px #3D3D3D;
transform: translateY(5px);
}

.red {
color: #e60808;
}

.green {
color: #038f03;
}

.blue {
color: #0000FF;
}

.yellow {
color: #FFFF00;
}

.round {
border-radius: 50%;
}



#myProgress {
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: #04AA6D;
  }

  
div#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(170, 20, 20);
    width: 80%; /* Could be more or less, depending on screen size */

  }

  #joystick{
    position: absolute;
    width:200px;
    height: 200px;
    right: 20px;
    bottom: 200px;
    outline: 1px black solid;
}